.info-title{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.info-caption{
    text-align: center;
    margin: auto;
    max-width: 300px;
    font-size: 16px;
    font-weight: 500;
}
.info-favorites{
    padding: 10px 10px;
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    border: 3px solid rgb(227, 227, 227);
    border-radius: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600 ;
    text-decoration: none;
    color: inherit;
}
#info-icon{
    height: 20px;
}
.info-favorites:hover{
    border: 3px solid white;
}